<h1>{{title}}</h1>
<input [ngModel]='amount$ | async' (ngModelChange)="onAmountChange($event)">
<p *ngFor="let currency of (currencyRates$ | async)">
    {{currency.code + ' ' + currency.value * (amount$ | async)}}
</p>